body {
  background-color: #f1f2f5;
}

.tasks {
  width: 40%;
  height: auto;
  background-color: #fff;
  border-bottom: 5px solid rgba(0, 0, 0, 0.08);
  position: relative;
  margin-top: 5%;
  margin-left: 25%;
}

ul {
  list-style: none;
  display: flex;
  width: 100%;
  font-size: 16px;
  margin-top: 5%;
  font-weight: bold;
  flex-direction: column;
  align-items: start;
  gap: 8px;
}

ul li {
  margin-bottom: 5%;
}

h2 {
  margin-left: 7.5%;
  margin-top: 5%;
}

.display {
  position: absolute;
  right: 3%;
  transform: translateY(-50%);
  cursor: pointer;
  color: #959697;
}

.display-rotate {
  display: flex;
  margin-left: 92%;
  margin-top: -20px;
  margin-bottom: 8%;
  cursor: pointer;
  color: #959697;
}

.addNew {
  border: none;
  margin-left: 8%;
  font-size: 16px;
}

.button-clear {
  width: 40%;
  height: 10vh;
  font-size: 16px;
  color: #535354;
  margin-left: 25%;
}